.select{
    position: absolute;    
    top: 20px;
    left: 10px;
}

.form-control{
    position: absolute;    
    left: 10px;
}

.sliders{
    position: absolute;    
    left: 10px;
}

.separator{
    height: 50px;
}
